body {
font-family: 'Roboto', sans-serif;
letter-spacing: 0.42px;
background-color: var(--primary-bg);
}

.container {
    width: 1445px;
    margin: 0 auto;
    padding: 0 75px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1,
h2,
h3,
p {
    margin: 0;
}