<header class="header">
  <div class="container header-container">
    <nav class="nav">
   <a class="header-logo" href="">Classcamp</a>
   <ul class="nav-list">
    <li><a class="nav-link" href="#">Pricing</a></li>
    <li><a class="nav-link" href="#">Find a course</a></li>
    <li><a class="nav-link" href="#">For Creators</a></li>
   </ul>
  </nav>
  <ul class="registration-list">
    <li><a class="registration-link" href="#">Sign In</a></li>
    <li><a class="registration-link" href="#">Create a course</a></li>
  </ul>
  </div>
</header>
