<section class="hero">
    <div class="container">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati expedita sunt excepturi quidem nihil dignissimos praesentium! Tenetur, voluptates eveniet dolorem voluptatibus asperiores ut labore facere quasi, deleniti cupiditate natus.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id explicabo aut voluptatibus minus impedit doloribus eius quos illum. Eligendi et quas maiores nam aliquid voluptatem, dolorum mollitia rerum doloremque dolore.</p>
        <button type="button" class="hero-btn">Send</button>
    </div>
</section>